Repository rok4/server, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, enhancement, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - cmake/**/*

documentation:
  - docs/**/*

enhancement:
  - src/**/*

quality:
  - tests/**/*

tooling:
  - CMakeLists.txt
  - config.h.in
  - '**/CMakeLists.txt'

Réorgnisation du site de documentation
  .github/workflows/build-and-release.yaml
  CHANGELOG.md
  config/layer.schema.json
Labels: ci-cd

Fix include vers "rok4/style/Style.h"
  src/Layer.h
  src/ServerConf.h
Labels: enhancement

Ajout du param limit sur GET /collections
  src/UtilsOGCTILES.cpp
Labels: enhancement

Ajout links (exemples de reqêtes) dans le getCap
  src/UtilsOGCTILES.cpp
Labels: enhancement

Ajout du param bbox sur GET /collections
  src/UtilsOGCTILES.cpp
  src/UtilsTMS.cpp
  src/UtilsWMS.cpp
  src/UtilsWMTS.cpp
Labels: enhancement

Fix sur appel getCap vector / raster
  src/UtilsOGCTILES.cpp
Labels: enhancement

Fix mime type dans le getCap
  src/UtilsOGCTILES.cpp
Labels: enhancement

Maj openapi.yaml et todolist
  docs/openapi.yaml
  src/Request.cpp
  src/UtilsOGCTILES.cpp
Labels: documentation, enhancement

Correction de l'emplacement des styles dans la documentation
  README.md
Labels: none
